* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 630px;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  position: relative;
  text-align: center;
  color: rgb(15, 14, 14);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.container img {
  width: 100%;
  border-radius: 20px;
}

.container .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.container .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.container .top-right i {
  font-size: 30px;
  color: #403a3a;
}
.container .top-right i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}
.footer {
  margin-top: 370px;
}
.footer .footer-line {
  border: none;
  border-top: 1px solid #1a0c0c;
  margin-bottom: 10px;
}

.circle {
  display: inline-flex;
  align-items: center;
}

.circle i.fa-duotone.fa-plus {
  font-size: 14px;
  padding: 5px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  margin-right: 5px;
}

.circle input[type="text"] {
  width: 238px;
  border: none;
  border-bottom: 1px solid #000;
  flex-grow: 1;
  padding: 5px 10px;
  outline: none;
}
